<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="~/pics/favicon.ico" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="body-full">

	<div class="meta-title uppercase">
		<a class="white-link" href="/">Beat Hold</a>
	</div>

	<div class="link-bar-holder">
		<div class="link-bar left">
			<a class="white-link" href="/Heaser">HEASER</a>
			<a href="http://www.soundcloud.com/heaser">
				<img class="social-pic" src="/pics/soundcloud.png" alt="Soundcloud">
			</a>
			<a href="http://www.twitter.com/heaserbeats">
				<img class="social-pic" src="/pics/twitter.png" alt="Twitter">
			</a>
		</div>
		<div class="link-bar">
			<a class="white-link" href="/Summit">SUMMIT</a>
			<a href="http://www.soundcloud.com/ashlandsummit">
				<img class="social-pic" src="/pics/soundcloud.png" alt="Soundcloud">
			</a>
			<a href="http://www.twitter.com/ashlandsummit">
				<img class="social-pic" src="/pics/twitter.png" alt="Twitter">
			</a>
		</div>
		<div class="link-bar">
			<a class="white-link" href="/Yusf">YUSF</a>
			<a href="http://www.soundcloud.com/yusfmgmt">
				<img class="social-pic" src="/pics/soundcloud.png" alt="Soundcloud">
			</a>
			<a href="http://www.twitter.com/yusfmgmt">
				<img class="social-pic" src="/pics/twitter.png" alt="Twitter">
			</a>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr class="footer-hr" />
		<footer>
			<p class="footer-right">&copy; @DateTime.Now.Year - Beat Hold</p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>