body {
	padding-bottom: 20px;
	background-color: #f1f1f1;
}

.body-content {
	background-color: #f1f1f1;
	width: 100%;
	padding: 0;
}

.navbar-inverse .navbar-brand {
	color: #c1c1c1;
}

.meta-title {
	font-weight: inherit;
	font-size: 500%;
	text-align: center;
	font-weight: 300;
	width: 100%;
	font-family: sans-serif, Tahoma;
	overflow: hidden;
	color: black;
	background-color: #f1f1f1;
}

.link-bar-holder {
	width: 100%;
	overflow: hidden;
}

.link-bar {
	float: left;
	width: 33.33%;
	display: block;
	background-color: #f1f1f1;
	text-align: center;
}

.link-bar.left {
	text-align: right;
}

.link-bar.right {
	text-align: left;
}

.uppercase {
	text-transform: uppercase;
}

.title {
	font-weight: inherit;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 45px;
}

.title.subtitle {
	font-size: 18px;
	margin-bottom: 0;
}

.title-section-left {
	width: 60%;
	text-align: left;
	float:left;
	padding-left: 5em;
}

.title-section-right {
	width: 40%;
	text-align: center;
	float:right;
	padding-right: 5em;
}

.social-pic {
	width: 4%;
	height: 4%;
	object-fit: contain;
}

hr {
	border-top: 1px solid #000;
}

a {
	color: black;
}

.page-title {
	margin-top: 0;
	margin-bottom: 0.5em;
}

/* START HOME PAGE */

.producer-window-holder {
	float: left;
	width: calc(33% - 1em);
	text-align: center;
	padding: 1em 1em 1em 1em;
	background-color: #797979;
	margin: 0.5em 0.5em 0.5em 0.5em;
}

.producer-pic {
	width: 100%;
}

.producer-section {
	font-size: 200%;
	height: 1.5em;
	width: 100%;
	margin-top: 0.3em;
	overflow: hidden;
}

/**/

/* START PRODUCER PAGE */

.content {
	text-align: center;
	font-weight: 300;
	width: 100%;
	display: block;
	margin: auto;
	font-family: sans-serif, Tahoma;
	padding: 1em 1em 1em 1em;
	overflow: hidden;
	color: black;
}

.container-holder {
	display: inline-block;
	width: 100%;
}

.img-container {
	float: left;
	width: 50%;
}

#audio-player {
	width: 100%;
	margin-top: 0.6em;
}

#player-title {
	text-align: center;
	font-size: 150%;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.container-wrapper {
	width: 50%;
	height: 25em;
	float: left;
	padding: 0.3em 0.3em 0 0.3em;
}

.container-wrapper.list {
	overflow-y: scroll;
}

.beat-container {
	display: inline-block;
	text-align: left;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	margin-bottom: 0.5em;
}

.player-container {
	display: inline-block;
	text-align: left;
	width: 100%;
	height: 100%;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid;
	border-width: 1px;
}

.beat-image {
	width: 30%;
	float: left;
}

.beat-info {
	float: right;
	width: 70%;
	padding-left: 1em;
	margin-top: 0.6em;
}

.button-container {
	width: 100%;
	padding: 0.3em 0.3em 0.3em 0.3em;
	overflow: hidden;
	height: 3em;
}

.beat-button {
	float: left;
	width: calc(50% - 0.8em);
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.6em;
	background-color: #996666;
	border-color: #353535;
	margin: 0.2em 0.2em 0.2em 0.2em;
	text-align: center;
	font-family: Fantasy;
	color: #f1f1f1;
	cursor: pointer;
	display: table;
}

.button-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 150%;
}

.button-text-container {
	width: 100%;
	padding: 0.3em 0.3em 0.3em 0.3em;
	overflow: hidden;
}

.button-lower-text {
	width: 50%;
	float: left;
	padding-left: 1em;
}

.beat-button-pic {
	width: 20%;
	float: left;
	margin-left: 0.3em;
}

.footer-hr {
	margin: 0 1em 0.5em 1em;
}

footer {
	padding-left: 2em;
}

/* END PRODUCER PAGE */