
@{
    ViewBag.Title = "PurchaseFailed";
}

<div class="content purchase-result-title">
	<div class="title-section-left">
		<div class="title uppercase">Transaction Failed</div>
	</div>
</div>

<div class="content">
	<div class="transaction-info-box">
		<div>We were unable to process your card.  Please check the information and try again.</div>
		<br />
		<a class="blue-link" href="/">Return to BeatSurge.com Home</a>
	</div>
</div>