
@{
    ViewBag.Title = "PurchaseSucceeded";
}

<div class="content purchase-result-title">
	<div class="title-section-left">
		<div class="title uppercase">Thank you</div>
	</div>
</div>

<div class="content">
	<div class="transaction-info-box">
		<div>Thank you for your time here at BeatSurge.com!  Your beat will be emailed to you within the next 10 minutes (usually instantly).</div>
		<br />
		<a class="blue-link" href="/">Return to BeatSurge.com Home</a>
	</div>
</div>

