@{
	ViewBag.Title = "Home";
}

<div class="content">
	<div class="title subtitle uppercase">
		Choose a beat market!
	</div>
</div>

<div class="content">
	@{
		foreach (var producer in Model)
		{
		<div class="producer-window-holder @producer.Title">
			<a href="/@producer.Title">
				<img class="producer-pic" src="~/pics/@(producer.Title).png" />
			</a>
			<div class="producer-section uppercase">
				@producer.Title
			</div>
		</div>
		}
	}
</div>

<script src="~/Scripts/homePage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>