@{
	ViewBag.Title = "Index";
}

<div class="content">
	<div class="title subtitle uppercase">
		Choose a beat market!
	</div>
</div>

<div class="content">
	<div class="producer-window-holder">
		<a href="/Heaser">
			<img class="producer-pic" src="~/pics/heaser.png" />
		</a>
		<div class="producer-section">
			HEASER
		</div>
	</div>
	<div class="producer-window-holder">
		<a href="/Summit">
			<img class="producer-pic" src="~/pics/summit.png" />
		</a>
		<div class="producer-section">
			SUMMIT
		</div>
	</div>
	<div class="producer-window-holder">
		<a href="/Yousef">
			<img class="producer-pic" src="~/pics/yusf.png" />
		</a>
		<div class="producer-section">
			YUSF
		</div>
	</div>

</div>

