@{
	ViewBag.Title = "Index";
}

<div class="content">
	<div class="title uppercase">
		Beat Hold
	</div> 
	<div class="title subtitle uppercase">
		Choose a beat market!
	</div>
</div>

<div class="content">
	<div class="producer-window-holder">
		<img class="producer-pic" src="~/pics/heaser.png" />
		HEASER
	</div>
	<div class="producer-window-holder">
		<img class="producer-pic" src="~/pics/summit.png" />
		SUMMIT
	</div>
	<div class="producer-window-holder">
		<img class="producer-pic" src="~/pics/yusf.png" />
		YUSF
	</div>

</div>

